html {
    background-color: #090808;
    font-family: 'Oswald', sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 80vh 20vh;
    grid-row-start: 1;
}

.contentrow {
    display: grid;
    grid-template-columns: 60vw 40vw;
}

.leftcolumn {
    text-align: right;
}

.about-text {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: right;
}

/* Text formattting */
#greeting {
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: bolder;
}

#whoami {
    color:#EB3F3F;
    font-size: 1rem;
}

#actiontext {
    color: #FFFFFF;
    font-size: .8rem;
    opacity: 0.8;
}